In [15]:
import python as py
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("olympics_medals.csv", index_col=0, encoding='latin')

In [6]:
df.head()

,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
countries,,,,,,,,,,,,,,,,
Afghanistan,(AFG),15,0,0,2,2,0,0,0,0,0,15,0,0,2,2
Algeria,(ALG),14,5,4,8,17,3,0,0,0,0,17,5,4,8,17
Argentina,(ARG),25,21,26,30,77,20,0,0,0,0,45,21,26,30,77
Armenia,(ARM),7,2,8,8,18,8,0,0,0,0,15,2,8,8,18
Australasia,(ANZ),2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, Afghanistan to Mixed Team
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ioc_code               156 non-null    object
 1   summer_participations  156 non-null    int64
 2   summer_gold            156 non-null    object
 3   summer_silver          156 non-null    int64
 4   summer_bronze          156 non-null    int64
 5   summer_total           156 non-null    object
 6   winter_participations  156 non-null    int64
 7   winter_gold            156 non-null    int64
 8   winter_silver          156 non-null    int64
 9   winter_bronze          156 non-null    int64
 10  winter_total           156 non-null    int64
 11  total_participation    156 non-null    int64
 12  total_gold             156 non-null    object
 13  total_silver           156 non-null    int64
 14  total_bronze           156 non-null    int64
 15  total_total            156 non-null    object
dtypes: int64(11), object(5)
memory usage: 20.7+ KB

In [11]:
df

,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
countries,,,,,,,,,,,,,,,,
Afghanistan,(AFG),15,0,0,2,2,0,0,0,0,0,15,0,0,2,2
Algeria,(ALG),14,5,4,8,17,3,0,0,0,0,17,5,4,8,17
Argentina,(ARG),25,21,26,30,77,20,0,0,0,0,45,21,26,30,77
Armenia,(ARM),7,2,8,8,18,8,0,0,0,0,15,2,8,8,18
Australasia,(ANZ),2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia,(ZAM),14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Zimbabwe,(ZIM),14,3,4,1,8,1,0,0,0,0,15,3,4,1,8
Independent Olympic Athletes,(IOA),3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
Independent Olympic Participants,(IOP),1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Mixed Team,(ZZX),3,11,6,8,25,0,0,0,0,0,3,11,6,8,25

In [13]:
df.tail(20)

,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
countries,,,,,,,,,,,,,,,,
Tonga,(TGA),10,0,1,0,1,2,0,0,0,0,12,0,1,0,1
Trinidad and Tobago,(TTO),18,3,5,11,19,4,0,0,0,0,22,3,5,11,19
Tunisia,(TUN),15,5,3,7,15,0,0,0,0,0,15,5,3,7,15
Turkey,(TUR),23,41,26,37,104,18,0,0,0,0,41,41,26,37,104
Turkmenistan,(TKM),7,0,1,0,1,0,0,0,0,0,7,0,1,0,1
Uganda,(UGA),16,4,4,3,11,0,0,0,0,0,16,4,4,3,11
Ukraine,(UKR),7,35,36,68,139,8,3,2,4,9,15,38,38,72,148
United Arab Emirates,(UAE),10,1,0,1,2,0,0,0,0,0,10,1,0,1,2
United States,(USA),28,"1,060",831,738,"2,629",24,113,122,95,330,52,"1,173",953,833,"2,959"
Uruguay,(URU),22,2,2,6,10,1,0,0,0,0,23,2,2,6,10
Uzbekistan,(UZB),7,10,6,20,36,8,1,0,0,1,15,11,6,20,37
Venezuela,(VEN),19,3,7,9,19,4,0,0,0,0,23,3,7,9,19
Vietnam,(VIE),16,1,3,1,5,0,0,0,0,0,16,1,3,1,5
Virgin Islands,(ISV),13,0,1,0,1,8,0,0,0,0,21,0,1,0,1
Yugoslavia,(YUG),16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zambia,(ZAM),14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Zimbabwe,(ZIM),14,3,4,1,8,1,0,0,0,0,15,3,4,1,8
Independent Olympic Athletes,(IOA),3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
Independent Olympic Participants,(IOP),1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Mixed Team,(ZZX),3,11,6,8,25,0,0,0,0,0,3,11,6,8,25

In [17]:
df.shape

(156, 16)

In [18]:
df.describe()

,summer_participations,summer_silver,summer_bronze,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_silver,total_bronze
count,156.000000,156.000000,156.000000,156.000000,156.00000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,14.673077,34.782051,37.775641,7.314103,7.50641,7.487179,7.442308,22.435897,21.987179,42.269231,45.217949
std,7.432417,86.085726,83.157105,7.900024,22.23264,21.431808,20.126773,63.293498,13.948286,101.547405,97.571102
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,9.750000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,13.000000,1.000000,1.000000
50%,15.000000,5.000000,6.000000,4.500000,0.00000,0.000000,0.000000,0.000000,17.000000,5.000000,7.500000
75%,19.000000,29.250000,31.250000,11.000000,1.00000,2.000000,2.000000,6.000000,29.000000,33.500000,37.000000
max,29.000000,831.000000,738.000000,24.000000,148.00000,133.000000,124.000000,405.000000,53.000000,953.000000,833.000000

In [19]:
nan_values = df.isna()
nan_columns = nan_values
nan_columns

,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
countries,,,,,,,,,,,,,,,,
Afghanistan,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Algeria,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Argentina,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Armenia,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Australasia,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Zimbabwe,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Independent Olympic Athletes,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Independent Olympic Participants,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Mixed Team,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [21]:
nan_columns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, Afghanistan to Mixed Team
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ioc_code               156 non-null    bool
 1   summer_participations  156 non-null    bool
 2   summer_gold            156 non-null    bool
 3   summer_silver          156 non-null    bool
 4   summer_bronze          156 non-null    bool
 5   summer_total           156 non-null    bool
 6   winter_participations  156 non-null    bool
 7   winter_gold            156 non-null    bool
 8   winter_silver          156 non-null    bool
 9   winter_bronze          156 non-null    bool
 10  winter_total           156 non-null    bool
 11  total_participation    156 non-null    bool
 12  total_gold             156 non-null    bool
 13  total_silver           156 non-null    bool
 14  total_bronze           156 non-null    bool
 15  total_total            156 non-null    bool
dtypes: bool(16)
memory usage: 3.7+ KB

In [22]:
df.isnull().sum()

ioc_code                 0
summer_participations    0
summer_gold              0
summer_silver            0
summer_bronze            0
summer_total             0
winter_participations    0
winter_gold              0
winter_silver            0
winter_bronze            0
winter_total             0
total_participation      0
total_gold               0
total_silver             0
total_bronze             0
total_total              0
dtype: int64